.classtop{
  background:url(../../images/indextop.png);
text-decoration: none;
text-align: initial;
}
https://prod-oss.emaotai.cn/supplychain-dev/test/home/s5bhpxtzNj.jpg?x-oss-process=image/resize,w_1920,h_500