<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="../common/css/common.min.css">
    <link rel="stylesheet" href="/details/css/details.min.css">
    <!-- endinject -->
</head>
<script src="../jquery-1.11.1.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<body>
  <header></header>
  <div class="det_banner"></div>
  <div class="det_nav_top" >
    <div class="det_navtcon">
      <div class="det_navleft">
        <div class="left_title">
          <span>全部商品</span>
          <div class="menu_left">
            <div class="menu_flor">
              <div class="list_con">
                <div class="top_title">
                <span>贵州茅台酒</span>
                </div>
                <ul>
                  <li><a href="">飞天茅台酒</a></li>
                  <li><a href="">五星茅台酒</a></li>
                </ul>
              </div>
            </div>
            <div class="menu_flor">
              <div class="list_con">
                <div class="top_title">
                <span>茅台酱香系列酒</span>
                </div>
                <ul>
                  <li><a href="">茅台王子酒</a></li>
                  <li><a href="">茅台迎宾酒</a></li>
                </ul>
              </div>
            </div>
            <div class="menu_flor">
              <div class="list_con">
                <div class="top_title">
                <span>习酒馆</span>
                </div>
                <ul>
                  <li><a href="">窖藏系列</a></li>
                  <li><a href="">金质系列</a></li>
                  <li><a href="">习酱系列</a></li>
                </ul>
              </div>
            </div>
            <div class="menu_flor">
              <div class="list_con">
                <div class="top_title">
                <span>葡萄酒馆</span>
                <span>生态农业馆</span>
                </div>
                <ul>
                  <li><a href="">干红葡萄酒</a></li>
                  <li><a href="">干白葡萄酒</a></li>
                </ul>
              </div>
            </div>
            <div class="menu_flor">
              <div class="list_con">
                <div class="top_title">
                <span>技开酒馆</span>
                <span>保健酒馆</span>
                </div>
                <ul>
                  <li><a href="">酱香醇</a></li>
                  <li><a href="">健酱世家</a></li>
                  <li><a href="">茅乡酒</a></li>
                </ul>
              </div>
            </div>
            <div class="menu_flor">
              <div class="list_con">
                <div class="top_title">
                <span>黔茅酒馆</span>
                <span>白金酒馆</span>
                </div>
                <ul>
                  <li><a href="">黔茅酒</a></li>
                  <li><a href="">白金酒</a></li>
                </ul>
              </div>
            </div>
            <div class="menu_flor">
              <div class="list_con">
                <div class="top_title">
                <span>精品生活</span>
                </div>
                <ul>
                  <li><a href="">贵茶</a></li>
                  <li><a href="">兰馨</a></li>
                  <li><a href="">酒滴</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="../index/index.html">店铺首页</a>
    </div>
  </div>
  <div class="set_nav_bot">
    <div class="nav_bot_con">
      <div class="navbot_left">
        <a href="">习酒馆</a>
        <span>></span>
        <a href="">窖藏系列</a>
      </div>
      <div class="navbot_right">
        <a href="javascript:;"></a>
        <a href="">
          <img src="images/mallbg.jpg">茅台商城
        </a>
        <a href="">联系客服</a>
      </div>
      <span>>></span>
    </div>
  </div>
  <div class="main">
    <div class="product">
      <div class="product_left">
        <div id="small" class="small">
          <img id="smallimg" class="smallimg" src="">
          <div id="mask"></div>
        </div>
        <div class="littleimg">
          <div class="littlemenu">
            <ul>
              <li><img src=""></li>
              <li><img src=""></li>
              <li><img src=""></li>
              <li><img src=""></li>
              
            </ul>
          </div>
        </div>
        <div id="big"class="big">
          <img id="bigimg" class="bigimg" src="">
        </div>
        <p class="share">
          <a href=""><span class="love_img"></span>收藏</a>
          <a href=""><span class="share_img"></span>分享</a>
        </p>
      </div>
      <div class="product_right">
        <h2>习酒 窖藏1988 53%vol 500ml</h2>
        <h3>【习酒 窖藏1988 53%vol 500ml】</h3>
        <div class="pro_price">
          <div class="price1">价格</div>
          <div class="money">
            <span class="money_con">
              <span class="unit">
                <em>￥</em>
                <span class="money_num">789.00</span>
              </span>
            </span>
          </div>
        <div class="evaluate">
          累计评价
          <em>0</em>
        </div>
        </div>
        <div class="addr">
          <div class="to">配送至</div>
          <div class="addr_con">
            <div class="addr_top">
              <div class="addr_contain">
                <div class="please_sec">
                  <div class="entytext">
                    <span>请选择</span>
                    <span>
                      <img src="images/addr.png">
                    </span>
                  </div>
                </div>
                <div class="addr_table">
                  <div class="province">
                    <ul>
                      <li class="sec_pro">
                        <a href="javascript:;">请选择</a>
                      </li>
                      <li class="sec_ci">
                        <a href="javascript:;">请选择</a>
                      </li>
                      <li class="sec_cou">
                        <a href="javascript:;">请选择</a>
                      </li>
                    </ul>
                  </div>
                  <div class="addr_box">
                    <div class="pro_box">
                      <a href="javascript:;"><dd>北京市</dd></a>
                      <a href="javascript:;"><dd>天津市</dd></a> 
                      <a href="javascript:;"><dd>上海市</dd></a>
                      <a href="javascript:;"><dd>重庆市</dd></a>
                      <a href="javascript:;"><dd>河北省</dd></a>  
                      <a href="javascript:;"><dd>山西省</dd></a>  
                      <a href="javascript:;"><dd>辽宁省</dd></a>  
                      <a href="javascript:;"><dd>吉林省</dd></a>
                      <a href="javascript:;"><dd>黑龙江省</dd></a>
                      <a href="javascript:;"><dd>江苏省</dd></a>
                      <a href="javascript:;"><dd>浙江省</dd></a>
                      <a href="javascript:;"><dd>安徽省</dd></a>
                      <a href="javascript:;"><dd>福建省</dd></a>
                      <a href="javascript:;"><dd>江西省</dd></a>
                      <a href="javascript:;"><dd>山东省</dd></a>
                      <a href="javascript:;"><dd>河南省</dd></a>
                      <a href="javascript:;"><dd>湖北省</dd></a>
                      <a href="javascript:;"><dd>湖南省</dd></a>
                      <a href="javascript:;"><dd>广东省</dd></a>
                      <a href="javascript:;"><dd>海南省</dd></a>
                      <a href="javascript:;"><dd>四川省</dd></a>
                      <a href="javascript:;"><dd>贵州省</dd></a>
                      <a href="javascript:;"><dd>云南省</dd></a>
                      <a href="javascript:;"><dd>陕西省</dd></a>
                      <a href="javascript:;"><dd>甘肃省</dd></a>
                      <a href="javascript:;"><dd>青海省</dd></a>
                      <a href="javascript:;"><dd>内蒙古自治区</dd></a>
                      <a href="javascript:;"><dd>广西壮族自治区</dd></a>
                      <a href="javascript:;"><dd>西藏自治区</dd></a>
                      <a href="javascript:;"><dd>宁夏回族自治区</dd></a>
                      <a href="javascript:;"><dd>新疆维吾尔自治区</dd></a>
                    </div>
                    <div class="cit_box">
                      <div class="citbox_con">
                      </div>
                    </div>
                    <div class="cou_box">
                      <div class="coubox_con">
                      </div>
                    </div>
                </div>
            </div>
            <em class="haspro">有货</em>
            <div class="express">
              <div class="express_sec">
                <option value="4">快递</option>
              </div>
            </div>
            <div class="addr_bot">
                由<span> 茅台商城 </span>发货，并提供售后服务
            </div>
          </div>
        </div>
      </div>
       <div class="spec">
         <div class="size">
           <div  class="size_dec">香型（多选）</div>
           <div class="size_option">
             <a>酱香</a>
           </div>
         </div>
       </div>
       <div class="buy">
         <div class="buynum">数量</div>
         <div class="buyright">
          <div class="addnum">
            <a href="javascript:;">-</a>
            <input type="text" value="1"/>
            <a href="javascript:;">+</a>
          </div>
          <div class="limit">
            <span>每单起购量1，最大购买量</span><span>6</span> 库存量<span>98</span>
          </div>
          <div class="incar">
            <div class="buyway">
              <a href="javascript:;" class="addinto">
                加入购物车
              </a>
              <a href="../car/car.html" class="buyimm">
                立即购买
              </a>
            </div>
          </div>
          <p>
                    温馨提示：支持7天无理由退换货
          </p>
         </div>
       </div>
    </div>
  </div>
  </div>
  </div>
  <div class="description">
    <div class="hotpro">
      <div class="hot_con">
        <div class="hot_top">
                        热销商品
        </div>
        <div class="pro_list">
          <ul>
            <li>
              <a>
                <i>1</i>
                <div class="hot_img">
                  <img src="https://prod-oss.emaotai.cn/supplychain-dev/test/img/CyfkdnP5Fs.jpg?x-oss-process=image/resize,w_160,h_160" alt=""/>
                </div>
                <div class="hot_info">
                  <div class="info1">
                    热销<span>17156</span>件
                  </div>
                  <div class="info2">
                    ￥1499.00
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="descript_right">
      <div class="pro_des_main">
        <ul class="des_menu">
          <li class="current">商品介绍</li>
          <li>规格包装</li>
          <li>售后保障</li>
          <li>累计评价
          <span>(</span>
          <span class="des_eval">0</span>
          <span>)</span>
          </li>
        </ul>
        <div class="des_main_con">
          <div class="main_con1">
            <div class="des_brand">
              <span>品牌：</span>
              <span>贵州茅台酒</span>
            </div>
            <div class="pro_name">
              <span>商品名称：</span>
              <span>贵州茅台酒15年53%vol 500ml</span>
            </div>
            <div class="des_more">
              <a>更多参数>></a>
            </div>
            <div class="imgcontain">
              
            </div>
          </div>
          <div class="main_con2">
            <table>
              <tr>
                <td rowspan="0" valign="top" width="150">商品信息</td>
                <td class="">品　　牌：<a href="/smartsales-b2c-web-pc/proList?keyword=贵州茅台酒">贵州茅台酒</a>
                </td>
                <td class="">商品名称：
                  <a href="/smartsales-b2c-web-pc/proList?keyword=贵州茅台酒15年53%vol 500ml">贵州茅台酒15年53%vol 500ml</a>
                </td>
              </tr>
            </table>
            <hr style="margin: 20px 0;border: 1px solid #ebebeb;">
            <table>
              <tr>
                <td rowspan="1" valign="top" width="150">规格</td>
                <td class="">规格1 ：酱香</td>
              </tr>
            </table>
          </div>
          <div class="main_con3">
           <div class="des_service">
            <div class="service_con">
              售后服务：<br />
              （验货与包裹签收）<br />
              1、请您在订单中所有商品到货后，再确认收货。收件时，请您与快递人员当面核对商品（包括赠品）的数量，务必检查发票有无（退货时必需将发票寄回才能办理退货退款），是否损坏等，如确认无误，请签收商品。收货时如有疑问，可以联系客服咨询处理。如发现明显的数量不符、商品不符、商品损坏等情况，请拒收货物，拍照保留证据并第一时间反馈给客服。<br />
              <br />
              （退换货悉知）<br />
              1、所有退换货，请先与客服联系，在退换货申请通过之后，再进行退换货处理；<br />
              2、换货：如您在商品签收后72小时内，发现商品有质量问题，如渗漏、破损（包装、酒瓶、瓶盖破损）、错发的，可联系换货；<br />
              3、退货：如您在商品签收后72小时内，发票未丢，签收商品有质量问题，如渗漏、破损（包装、酒瓶、瓶盖破损）、错发可以退货；请您将商品与发票一并寄回，我方收到物件，并核实与所发货物一致，物品齐全时，为您办理退款手续；<br />
              4、因寄送过程出现的渗漏、破损、错发等我方原因造成的退换货，退货费用及保险费用由我方承担；<br />
              5、如遇我方承担退换货费用，但快递公司需先行支付运费及保险费的情况，请您先行垫付，我方收到商品后，为您办理退款手续。除非我方指定的物流公司上门收货情况外，请您不要选择到付，到付件一律拒签，感谢您的支持；<br />
              6、如因您错拍、或者以无理由形式退换货或拒签的，买家需承担订单退换货所产生的相关费用，包含运输过程可能产生的商品破损、渗漏等风险。<br />
              &nbsp;<br />
              7日无理由退换货申请时间：买家需在确认签收商品之日起7日内（按照物流签收后的第二天零时起计算时间，满168小时为7日）提出申请。买家确认签收商品超过7日后，仍未与客服沟通处理或者未及时寄回签收商品的情况，将视为买家已自愿放弃7日无理由退换货申请。<br />
              备注：为了保障您的权益，如有售后问题请及时联系客服！<br />
              <br />
              <br />
              <span style="color:#333333;font-family:''Microsoft YaHei'';"></span> 
              <div style="color:#333333;font-family:Arial, 宋体;">
                <img src="https://maotai-prod.oss-cn-hangzhou.aliyuncs.com/supplychain-dev/test/undefined/2TxPGJ7EQ3.jpg" alt="" /><br />
              </div>
              <pre id="best-content-2468029271" class="best-text mb-10">
              </pre>
                </div>
            </div>
          </div>
          <div class="main_con4">
            <div class="details_comment">
              <div class="comment_top">
                  <div class="comtop_left">
                    <div class="title">
                        好评率
                    </div>
                    <div class="number" style="margin-top: 10px">
                      <span class="ray">0</span>
                    </div>
                    <div class="title">
                      <span class="tip">
                        <span class="com_count">0</span>
                        人评价
                      </span>
                    </div>
                  </div>
                  <div class="right">
                    <div class="item">
                      <div class="label">好评
                       (<span class="highCom">0</span>)
                        
                      </div>
                      <div class="percentage">
                          <div class="highCom_ray"style="width: 0%;">
                          </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="label">中评
                        (<span class="midCom">0</span>)
                      </div>
                      <div class="percentage">
                        <div class="midCom_ray"style="width: 0%;">
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="label">差评
                        (<span class="lowCom">0</span>)
                      </div>
                      <div class="percentage">
                        <div class="lowCom_ray"style="width: 0%;">
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <ul class="all_com">
                  <li style="margin-left: 20px;">
                    <a href="#" data-value="0">全部评价
                      (<span class="allcom_num">0</span>)
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="1">好评
                      (<span class="goodcom_num">0</span>)
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="2">中评
                      (<span class="midcom_num">0</span>)
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="3">差评
                      (<span class="badcom_num">0</span>)
                    </a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class=" copyright">
          <div class="row1">
              Copyright 2014-2018 ©贵州茅台集团电子商务股份有限公司
          </div>
          <div class="row1">
              增值电信业务经营许可证: 黔B2-20180022  &nbsp;&nbsp;黔ICP备10001658号-1 <img src="https://prod-oss.emaotai.cn/front-assets/assets/image/index/footer/warn.png" alt="">贵公网安备 52011502000337号<br>
          </div>
          <div class="row1">
              公司地址：贵州省贵阳市观山湖区湖滨路10号翔明大厦10楼
          </div>
          <div class="row1">
              购买前请确认达到法定饮酒年龄！茅台商城不销售任何含酒精产品给18岁以下人士！
          </div>
        </div>
  </div>
<div class="black">
  <div class="black_tip">
    <div class="table">
      <div class="tip">提示</div>
      <div class="max">已超过限购数量</div>
      <div class="btn">
        <span>确定</span>
      </div>
    </div>
  </div>
</div>
    <!-- inject:js -->
      <!--<script src="/details/js/common.min.js"></script> -->
    <script src="/details/js/details.min.js"></script>
    <script src="../common/js/common.min.js"></script>
    
    <!-- endinject -->
</body>
<script type="text/javascript">
  $("header").load('../common/common.html');
</script>
</html>