<!DOCTYPE html>
<html lang="en">
  <!-- inject:css -->
  <link rel="stylesheet" href="/register/css/register.min.css">

  <!-- endinject -->
<head>
	<meta charset="UTF-8">
	<title>注册</title>
</head>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<body>
	<div class="register-container">
		<div class="header">
			<div class="logo-img"></div>
		</div>
		<div class="form-container">
			<div class="form-content">
				<div class="form">
					<div class="form-tabBar">
						<span class="form-tab" id="tab-login" style="background: #fff;">会员登录</span>
						<span class="form-tab" id="tab-register">会员注册</span>
					</div>
					<div class="tab tab-login-box" style="display: none;">
						<div class="form-input" style="padding-top: 20px;">
							<div class="input-content">
								<div class="form-title">+ 8 6 </div>
								<input class="form-item phoneNum" type="text" placeholder="请输入手机号">
							</div>
							<span class="wraning phoneDes">请输入正确手机号</span>
						</div>
						<div class="form-input">
							<div class="input-content">
								<div class="form-title"> 手机验证码 </div>
								<input class="form-item codeInput" type="text" placeholder="请输入验证码" style="width: 120px">
								<span class="code codeBtn">获取验证码</span>
							</div>
							<span class="wraning codeDes">请输入正确验证码</span>
						</div>
						<div class="form-input">
							<div class="input-content">
								<div class="form-title"> 设置密码 </div>
								<input class="form-item password" type="password" placeholder="8-12位,至少含数字/字母/符号2种组合">
							</div>
							<span class="wraning pwdDes">请输入符合规则密码</span>
						</div>
						<div class="form-input">
							<div class="input-content">
								<div class="form-title"> 确认密码 </div>
								<input class="form-item passwordConfirm" type="password" placeholder="请再次输入密码">
							</div>
							<span class="wraning pwdConDes">请确认密码</span>
						</div>
						<div class="click-box">
							<span class="code-login">动态密码登录</span>
							<span class="forget-password">忘记密码？</span>
						</div>
						<div class="submit-btn registerSubmit">立 即 注 册</div>
					</div>
				</div>

				<!-- login -->

				<div class="tab tab-register-box" style="display: block;">
					<div class="form-input" style="padding-top: 20px;">
						<div class="input-content">
							<div class="form-title"> 用户名 </div>
							<input class="form-item usernameInput" type="text" placeholder="请输入帐号">
						</div>
						<span class="wraning userDes" style="margin: 15px">请输入手机号</span>
					</div>
					<div class="form-input">
						<div class="input-content">
							<div class="form-title"> 密码 </div>
							<input class="form-item passwordInput" type="password" placeholder="请输入密码">
						</div>
						<span class="wraning passwordDes" style="margin: 15px">请输入密码</span>
					</div>
					<div class="click-box">
						<span class="code-login">动态密码登录</span>
						<span class="forget-password">忘记密码？</span>
					</div>
					<div class="submit-btn loginBtn">登 录</div>
				</div>
			</div>
		</div>
		</div>
		<div class="copy-right">
			<p>Copyright 2014-2018 ©贵州茅台集团电子商务股份有限公司</p>
			<p>增值电信业务经营许可证: 黔B2-20180022   黔ICP备10001658号-1 贵公网安备 52011502000337号</p>
			<p>公司地址：贵州省贵阳市观山湖区湖滨路10号翔明大厦10楼</p>
			<p>购买前请确认达到法定饮酒年龄！茅台商城不销售任何含酒精产品给18岁以下人士！</p>
		</div>
	</div>
</body>

  <!-- inject:js -->
  <script src="/register/js/register.min.js"></script>

  <!-- endinject -->
</html>





